@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CSCI213 Assignment5</h1>
    <p>This is a demonstration of ASP MVC web development for CSCI 213
    <br />Created By:
    <br />Brayden Meduna
    <br />Jackson Naumann
    </p>
</div>
